.search-filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.stat-info {
    display: flex;
    justify-content:
    space-between;
    align-items: center;
    margin-bottom: 20px;
}

.show-inventory-box {
    overflow-y: auto;
    height: 70vh;
    max-width: 600px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}